@font-face {
  font-family: "iconfont"; /* Project id 4230673 */
  src: url('iconfont.woff2?t=1693897777522') format('woff2'),
       url('iconfont.woff?t=1693897777522') format('woff'),
       url('iconfont.ttf?t=1693897777522') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\eafb";
}

.icon-queshengye_zanwushuju:before {
  content: "\e760";
}

.icon-huidaodingbu:before {
  content: "\e705";
}

.icon-ic_chanpin:before {
  content: "\e71b";
}

.icon-cuowuguanbiquxiao-fangkuang:before {
  content: "\e8e8";
}

.icon-mobile-500:before {
  content: "\e616";
}

